.header {
  justify-content: space-between;
  background: #0000007e;
}

.LogoButton {
  background: transparent;
  border: none;
}

.header_li a {
  color: #ffffff;
  font-size: 16px;
  font-weight: 500;
  line-height: 22px;
  letter-spacing: 1.5px;
  text-transform: uppercase;
}

.header_li a:hover {
  color: #a689f1;
  transition: 0.1s ease-in-out;
}

.header_wrapper {
  align-items: center;
  margin: 0 auto;
  max-width: 1280px;
  display: flex;
  justify-content: space-between;
  padding: 8px 16px;
}

.header_content {
  margin: 0 auto;
  display: flex;
  align-items: center;
  gap: 20px;
}

.ul_wrapper {
  margin: 0 auto;
  display: flex;
  align-items: center;
  gap: 40px;
}

.header_btn {
  display: flex;
  gap: 30px;
  text-transform: uppercase;
  font-size: 12px;
}

.header_btn img {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 7px;
}

.header_nav a {
  display: flex;
  align-items: center;
  text-align: center;
  padding: 10px 10px;
  flex-shrink: 0;
  border-radius: 10px;
  background: linear-gradient(90deg, #13bbf3 -1.43%, #6c69f7 99.9%);
}

#buttonMobile {
  display: none;
}

/* /Função Mobile 600px */

@media (max-width: 600px) {
  nav {
    display: none;
  }
  header {
    margin: 0 auto;
  }
  #buttonMobile {
    display: block;
    background-color: transparent;
    border: transparent;
  }
  #MenuIcons {
    width: 20px;
    height: 20px;
  }
  .active nav {
    height: 200vh;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 120px; /* ajuste conforme necessário */
    left: 0;
    width: 100%;
    background-color: #1f1329; /* cor de fundo do menu mobile */
    z-index: 1;
  }
  .active .ul_wrapper {
    padding: 16px 20px;
    flex-direction: column;
    gap: 32px;
  }
  .active .nav_li {
    text-align: center;
  }
  .header_btn {
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 0 auto;
  }
}
